doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/reset.css")
        //- link(rel="stylesheet", href="/css/grid.css")
        link(rel="stylesheet", href="/css/style.css")
        title Document
    body 
        header.head 
            nav.container_nav
                .icon_bar 
                    a(href="") 
                        .icon_hamber 
                            img(src="/img/image2.svg", alt="")
                    a(href="") 
                        .icon_search 
                            img(src="/img/image3.svg", alt="")
                .content_image
                    a(href="") 
                        img(src="/img/image1.svg", alt="")
        section.banner 
            .container_banner 
                .container_banner_inner
                    article.content_image
                        img(src="https://fakeimg.pl/360x360/C00CCC", alt="")           
                    article.content_image
                        img(src="https://fakeimg.pl/360x360/C00CCC", alt="")           
                    article.content_image
                        img(src="https://fakeimg.pl/360x360/C00CCC", alt="")  
                .container_banner_outer
                    .move 1231232131        
        section.learning
            .container_learning
                .learning_title 
                    h2 
                        span.title_c TibaMe
                        span.title_a 提拔我的學習力 提升職場競爭力
                .learning_in 
                    p 知識的深度決定了你的高度，找回自己的職涯主控權<br>讓TibaMe成為你的職涯教練，從自我成長、職涯規劃、職場技能到產業趨勢洞察，給你一輩子帶的走的職場能力<br>學習不設限，讓改變看得見！
                .learning_content
                    .learning_content_mean
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .deep_mean 
                            h3 從個人到組織
                            p  從個人能力學習到企業人才培訓，精準、高效貼近使用者需求
                    .learning_content_mean
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .deep_mean 
                            h3 從個人到組織
                            p  從個人能力學習到企業人才培訓，精準、高效貼近使用者需求
                    .learning_content_mean
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .deep_mean 
                            h3 從個人到組織
                            p  從個人能力學習到企業人才培訓，精準、高效貼近使用者需求
        section.moreclass 
            .container_moreclass
                .moreclass_title 
                    h2 多元領域主題課程
                .moreclass_detail 
                    p 
                        span 3 
                        |大領域
                        span 9 
                        |個主題課程
                    p 
                        span 250+ 
                        |位講師及業師 貼身職業培訓
                    p 
                        span 300+ 
                        |堂 線上線下課
                        span 10,000+ 
                        |小時隨時在線
                .moreclass_tiny_title 
                    h3 最新課程
                .moreclass_list_group 
                    .moreclass_list_item
                        p 科技  
                    .moreclass_list_item
                        p 職場  
                    .moreclass_list_item
                        p 語文  
                .moreclass_content
                    .moreclass_content_inner 
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .moreclass_in 
                            h4 AI產品瑕疵檢測-應用CNN物件偵測實作班
                            p 主題課程 / 實體及直播課程緯育TibaMe台北中心第十四期 ∙ 2022/11/27 開課
                            p.price NT$ 9,600
                                span.price_come 起
                    .moreclass_content_inner 
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .moreclass_in 
                            h4 Amos大師網頁設計課2 | RWD響應式網頁
                            p 主題課程 / 實體及直播課程緯育TibaMe台北中心【第2期】Amos大師網頁設計課2 | RWD響應式網頁 ∙ 2022/11/27 開課
                            p.price NT$ 6,320
                                span.price_come 起
                    .moreclass_content_inner 
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .moreclass_in 
                            h4 Git版本控制實戰班
                            p 主題課程 / 實體及直播課程TibaMe台北職訓中心Git版本控制實戰班 ∙ 2022/10/22 開課
                            p.price NT$ 5,720
                                span.price_come 起
                    .moreclass_content_inner 
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .moreclass_in 
                            h4 Amos大師網頁設計課1 | 網頁技術入門
                            p 主題課程 / 實體及直播課程緯育TibaMe台北中心【第1期】Amos大師網頁設計課1 | 網頁技術入門 ∙ 2022/10/23 開課
                            p.price NT$ 8,680
                                span.price_come 起
                .moreclass_tiny_button 
                    p 更多課程>
        section.bestclass 
            .container_bestclass
                .bestclass_tiny_title 
                    h3 精選課程
                .bestclass_list_group 
                    .bestclass_list_item
                        p 科技  
                    .bestclass_list_item
                        p 職場  
                    .bestclass_list_item
                        p 語文  
                .bestclass_content
                    .bestclass_content_inner 
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .bestclass_in 
                            h4 深度學習影像辨識  |  YOLO物件偵測全解析
                            p 約 8.1 小時
                            p.price 
                                span.bird 早鳥優惠
                                |NT$ 2384
                                span.price_come 起
                    .bestclass_content_inner 
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .bestclass_in 
                            h4 零基礎Python入門與資料科學
                            p 主題課程 / 實體及直播課程/緯育TibaMe台北中心<br>第二十二期 ∙ 2022/11/01 開課
       
                            p.price NT$ 7920
                                span.price_come 起
                    .bestclass_content_inner 
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .bestclass_in 
                            h4 【真人直播】成為白帽駭客1 | 道德駭客實務入門及CEH認證班
                            p 主題課程 / 實體及直播課程/真人直播第八期 ∙ 2022/11/12 開課
                            p.price NT$ 10,710
                                span.price_come 起
                    .bestclass_content_inner 
                        img(src="https://fakeimg.pl/120x75/C00CCC", alt="")
                        .bestclass_in 
                            h4 【真人直播】成為白帽駭客1 | 道德駭客實務入門及CEH認證班
                            p 主題課程 / 實體及直播課程/真人直播第八期 ∙ 2022/11/12 開課
                            p.price NT$ 10,710
                                span.price_come 起
                .bestclass_tiny_button 
                    p 更多課程>
        section.onlinetw 
            .container_onlinetw 
                h2 線上課程推薦
                p 
                    span 立即點選
                    |每周線上課程影片
                .container_onlinetw_inner
                    article.content_image
                        img(src="https://fakeimg.pl/600x360/C00CCC", alt="")           
                    article.content_image
                        img(src="https://fakeimg.pl/600x360/C00CCC", alt="")           
                    article.content_image
                        img(src="https://fakeimg.pl/600x360/C00CCC", alt="")  
                .container_onlinetw_outer
                    .move 1231232131        
        section.infortw 
            .container_infortw 
                h2 專業學程/就業養成 開班資訊
                p 短期班 | 走向專業職能應用，專業職業訓練幫助職場能力加分<br>長期班 | 專為零基礎學員精心設計的課程，人才培訓立即養成

                .container_infortw_inner
                    article.content_image
                        img(src="https://fakeimg.pl/500x300/C00CCC", alt="")           
                    article.content_image
                        img(src="https://fakeimg.pl/500x300/C00CCC", alt="")           
                    article.content_image
                        img(src="https://fakeimg.pl/500x300/C00CCC", alt="")  
                .container_infortw_outer
                    .move 1231232131     