doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
        title 鴨鴨
    body 
        header.jumbotron 
            .container
                h2 日本鴨曾說
                h1 雞非常稀少!!!
        section.intro
            .container 
                .row 
                    .col-md-12
                        h2 最後一次看見雞是什麼時候呢?
                        h5.text-muted 上一次看見的雞，仍然稚的小巧
                .row 
                    .col-md-4.smallgi
                        img.gigi(src="https://imgcdn.cna.com.tw/www/WebPhotos/800/20210427/1920x1280_581754849593.jpg", alt="")
                        h4 小雞逼逼優
                        h6.text-muted 就像沒有邊際的人生
                    .col-md-4.smallgi
                        img.gigi(src="https://imgcdn.cna.com.tw/www/WebPhotos/800/20210427/1920x1280_581754849593.jpg", alt="")
                        h4 小雞逼逼優
                        h6.text-muted 就像沒有邊際的人生
                    .col-md-4.smallgi
                        img.gigi(src="https://imgcdn.cna.com.tw/www/WebPhotos/800/20210427/1920x1280_581754849593.jpg", alt="")
                        h4 小雞逼逼優
                        h6.text-muted 就像沒有邊際的人生
        section.story
            .container
                .row 
                    .col-md-12 
                        p.h2 小雞的故事
                        p.text-muted 要成為海，定義上其實蠻不容易的
                    .col-md-6.troo
                        p.h2 3.5525億平方公里
                        p.content 海洋即「海」和「洋」的總稱。地球的71%的面積被海洋覆蓋。總面積大約為3億5525萬5千平方公里。一般人們將這些占地球很大面積的鹹水水域稱為「洋」，大陸邊緣的水域被稱為「海」。
                    .col-md-6.troo
                         p.h2 3.5%
                         p.content 海水所含的鹽分各處不同，平均約為3.5%。這些溶解在海水中的無機鹽，最常見的是氯化鈉，即日用的食鹽。有些鹽來自海底的火山，但大部分來自地殼的岩石。
        section.pictures
            .container-fluid
                .row
                    .col-md-6.pic1
                        .text-panel
                            h1 深海的生物們
                            p.brig 目前科學家探索的深海面貌不到1%
                    .col-md-6.pic2
                        .text-panel
                            h1 人造物的侵襲
                            p.brig 每年有數萬噸的人造物沉入黑暗的海域
        section.ask 
            .container 
                .row 
                    .col-md-12
                        h2 你對海有什麼想像呢?
                        h5.section-subheading.text-muted 說說關於你，關於海洋，關於世界的故事
                        input.form-control