doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/JS/jquery.js") 
        title Document
    body  
        .itemlist
             h3 我的代辦清單
             hr
             ul#papago
                //- li#list 1.
                //-     .name 跑跑卡丁車
                //-     .date -2022/08/09
                //- li.list 2.
                //-     .name 小穴賽跑
                //-     .date -2022/08/09
        script(src="/all.js") 