doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        title Document
    body
        .container 
            .topbar 
                img(src="http://www.freeiconspng.com/uploads/images-facebook-f-logo-png-transparent-background-page-2-29.png")
                input.serch(placeholder="搜尋Fazebook")
            .secondbar 
  
            .midbar 
                .heda 
                    .name 剛才菌
                    .ename (Kun-tsai jin)
            .bottombar 
                p 
                    i.fa.fa-briefcase
                    span 在動物之家擔任善解人意的哈士奇<br>
                    i.fa.fa-graduation-cap
                    span 之前任職：國立哈佛光大學學生會會寵<br>
                    i.fa.fa-bank
                    span 就讀國立國立哈佛光大學動物系<br>
                    i.fa.fa-plane
                    span 現居哈佛
                    




