doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="/js/jquery.js") 
        title Document
    body
        h1 jquery 初階滑鼠事件click/hover
        h3 1. 點擊觸發，與紀錄購買狀態 (click)
        .button 購買物品
        hr
        h3 2. $(this)操作觸發動作的按鍵: 請選擇物品
        .setitem(data="flower") 選擇物品一
        .setitem(data="tree") 選擇物品二
        .setitem(data="water") 選擇物品三
        h4.showchoose 已經選擇:
        h4.show_cata 以選擇種類
        hr
        h3 3. 滑鼠的移入移出(mouseenter/mouseleave)
        .moveinout 想了解更多嗎
        hr 
        h3 4. 時間相關的一些觸發
        h4 set Timeout(動作,時間) 經過特定時間後執行
        h4 set Interval(動作,時間) 每經過特定時間後執行
        .timeover 五秒後開戰
        .timeokay 經過了X秒



        script(src="/js/all.js")   