doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Document
    body 
        .container 
            .block.a a
                .intro 
                    .intro1
                        p 內容
                    .intro2 
                        p 內容
                    .intro3 
                        p 內容
                //- p 內容內容內容內容內容內容內容內容內容內容 
            .block.b B
                //- p 內容內容內容內容內容內容內容內容內容內容
            .block.c C
                //- p 內容內容內容內容內容內容內容內容內容內容 
            .block.d D
                //- p 內容內容內容內容內容內容內容內容內容內容 
            .block.e E
                //- p 內容內容內容內容內容內容內容內容內容內容 
            .block.f F
                //- p 內容內容內容內容內容內容內容內容內容內容   
            .block.g G
                //- p 內容內容內容內容內容內容內容內容內容內容   